<%= form_with(model: rabbit, local: true) do |form| %>
  <% if rabbit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rabbit.errors.count, "error") %> prohibited this rabbit from being saved:</h2>

      <ul>
      <% rabbit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :rabbit_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :rabbit_age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
