<p id="notice"><%= notice %></p>

<h1>Rabbits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rabbits.each do |rabbit| %>
      <tr>
        <td><%= rabbit.name %></td>
        <td><%= rabbit.age %></td>
        <td><%= link_to 'Show', rabbit %></td>
        <td><%= link_to 'Edit', edit_rabbit_path(rabbit) %></td>
        <td><%= link_to 'Destroy', rabbit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rabbit', new_rabbit_path %>
